In [9]:
import sys
sys.path.append('../src')

from clean_health_data import clean_health_data

df_health = clean_health_data(
    '../data/raw/health_expenditure_raw.csv',
    '../data/processed/health_expenditure_long.csv'
)

df_health.head()

   Country ISO3  Year  Health_Expenditure
0  Andorra  AND  2000            5.952764
1  Andorra  AND  2001            5.858237
2  Andorra  AND  2002            5.996212
3  Andorra  AND  2003            5.547715
4  Andorra  AND  2004            5.288469

In [11]:
import sys
sys.path.append('../src')

from dependency_ratio_data import dependency_ratio_data

df_dependency = dependency_ratio_data(
    '../data/raw/dependency_ratio_raw.csv',
    '../data/processed/dependency_ratio.csv'
)

df_dependency.head()

   Country ISO3  Year  Dependency_Ratio
0  Andorra  AND  2000         38.260924
1  Andorra  AND  2001         38.989848
2  Andorra  AND  2002         39.556404
3  Andorra  AND  2003         38.880339
4  Andorra  AND  2004         37.326780